name: Check

on:
  push:
    branches: [ "main" ]
    tags-ignore: [ "**" ]
  pull_request:


jobs:
  gotest:
    strategy:
      matrix:
        go-version: [1.21.x, 1.23.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run tests
        run: go test -race ./...


  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'

      - name: Run tests
        run: go test ./...

      - name: Run coverage
        run: go test -coverprofile=coverage.out -covermode=atomic $(go list ./... | grep -v internal/th)

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: destel/rill
